@using System.Collections.Specialized
@{
    ViewData["Title"] = "Kontakta oss";
}
<h1>@ViewData["Kontakt"]</h1>

<div class="text-center">
    <h2>Kontakt oss</h2>
    <p>Telefon: 079-313 19 99</p>
    <p>Facebook: <a href="https://www.facebook.com/alfurat.restaurang/">Al-Furat Restaurang</a></p>
    <p>Instagram: <a href="https://www.instagram.com/alfurat.restaurang/">Alfurat.restaurang</a></p>
    <p>Adress:</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8163.3406753911695!2d17.834942!3d59.235484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4cf55f71dd9e61f7!2sAl%20Furat!5e0!3m2!1ssv!2sse!4v1613310510972!5m2!1ssv!2sse" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
