@model Assigement_MVC.ViewModels.ProductIndexViewmodell
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">

    <h1 style="margin-top: 30px; margin-bottom: 60px; font-family: verdana;">Välkommen till Al-Furat Restaurang</h1>
    <div style="margin-bottom: 70px; font-family: courier; background-color:navajowhite; border-radius:25px;">Al Furat serverar irakiska måltider av högst kvalitet. Vårt mål är att ge våra kunder en helt annan uppfattning om vad bra mat med rötter i Irak innebär.</div>
    <a href="/Home/Index" >
        <img src="/images/Al-furat-Restaurang.png">
    </a>


</div>
