@model Assigement_MVC.ViewModels.CategoryNewViewModel
@{
    ViewData["Title"] = "New Category";
}


<div class="card-body">
    <h2 class="text-center" style="font-family: verdana;">Ny kategori</h2>
</div>


<section>
    <div class="content">

        <form method="post" asp-controller="Category" asp-action="New">
            <div>
                <label asp-for="Name">Namn</label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            

            <button style="background-color:orangered; margin-top:10px;" type="submit" class="btn btn-primary">Spara ändringen</button>

        </form>
    </div>
</section>
